@page "/meraki"
@attribute [Authorize(Policy = AuthorizationPolicyStrings.MerakiViewGroups )]

<h3>Meraki Homepage</h3>

<OrganizationsComponent @bind-SelectedOrganization="SelectedOrgParent"/>

@if (SelectedOrgParent.Name !=null)
{
    <h3>Good job selecting an org you idiot, now select a network</h3>
    <NetworksComponent @bind-SelectedNetwork="SelectedNetworkParent" OrgToLookup="@SelectedOrgParent.Id" />
}

@if (SelectedNetworkParent.name != null)
{
    <h3>Wow, you even selected a network. Keep it up!</h3>
    <DevicesListComponent NetworkToLookup="@SelectedNetworkParent.id"/>
}
