@page "/meraki/organizations"
<h3>Organizations</h3>

@if (_organizations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var organization in _organizations)
        {
            <tr>
                <td>@organization.Id.ToString()</td>
                <td>@organization.Name</td>
                <td>@organization.Url</td>
            </tr>
        }
        </tbody>
    </table>
}